.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .header {
    max-width: 1184px;
    min-height: 52px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    max-width: 928px;
    min-height: 52px;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .header {
    max-width: 720px;
    min-height: 52px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    min-height: 42px;
  }
}
