.place__text {
  max-width: 484px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  grid-area: text;
}

@media screen and (max-width: 1024px) {
  .place__text {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    width: 352px;
  }
}
