.cover {
  min-height: 740px;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-size: cover;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 1024px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 768px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 88px;
  }
}
