.lead__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-align: left;
  width: 158px;
  margin-top: 8px;
  margin-left: 148px;
  margin-right: 974px;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
    margin-right: 818px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    margin-right: 585px;
  }
}
