.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  width: 560px;
  text-align: center;
  margin-top: 245px;
  margin-left: 312px;
  margin-right: 312px;
  margin-bottom: 32px;
  font-style: black;
  z-index: 3;
}
