.footer {
  max-width: 1184px;
  margin: 0 48px 0 48px;
  padding: 0 0 24px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 720px;
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 300px;
    margin: 0 0 0 16px;
    display: inline-block;
  }
}
